<div class="container">
  <h1> Shopping Cart </h1>
  <div class="row">
    <%= link_to 'Back to shopping', products_index_path, class: 'btn btn-primary' %>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Subtotal</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% unless @cart.nil? %>
        <% @cart.each_with_index do |item, index| %>
          <tr>
            <th scope="row"><%= index %></th>
            <td><img src="<%= asset_path(item[0].image) %>" style="width:100px"></td>
            <td><%= item[0].name %></td>
            <td><%= money_vn_format(item[0].price) %></td>
            <td>
              <div class="quantity">
                <%= button_to '-', decrement_item_path(item[0].id), class: 'btn minus1', method: :put, remote: true %>
                <input class="quantity" min="0" value="<%= item[1] %>" type="number">  
                <%= button_to '+', increment_item_path(item[0].id), class: 'btn add1', method: :put, remote: true %>
              </div>
            </td>
            <td><%= money_vn_format(item[0].price * item[1]) %></td>
            <td><%= link_to 'Remove', delete_cart_path(item[0].id) %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="5"></td>
          <td><%= number_to_currency(@total, separator: '.', unit: 'VND', precision: 0, format: "%n %u") %></td>
        </tr>
      <% else %>
        <tr>
          <td colspan="7">Nothing to do here!</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <%= link_to 'Destroy cart' , destroy_carts_path, class: 'btn btn-danger'%>
    <button class="btn">Check out</button>
  </div>
</div>